@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  color: #b4b0b0;
}

h1, h2, h3, h4, h5, h6 {
  color: #00c3b6;
  text-transform: uppercase;
}

.contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-list li {
  display: inline-block;
  margin: 0 20px 0 0;
  padding: 0;
}

.contact-list li:last-of-type {
  margin: 0;
}

section.row {
  margin-bottom: 40px;
  text-align: center;
}

section.row:last-child {
  margin-bottom: 0;
}